.canvas-llm
{
    /* DEFAULT : NOT SELECTED*/

    .svelte-flow__node
    {
        .canvas-node-container
        {
            border-color: rgb(var(--canvas-color));
        }

        node-header
        {
            border-bottom-color: rgb(var(--canvas-color));
        }
    }

    /* DEFAULT : SELECTED */

    .svelte-flow__node.selected
    {
        node-header 
        { 
            border-bottom-color: var(--color-accent); 
        }

        .canvas-node-container
        {
            border-color: var(--color-accent);
        }
    }

    /* TEXT INPUT */

    .svelte-flow__node-textInput:not(.selected)
    {
        .svelte-flow__handle.edit-mode 
        {        
            border-color: var(--color-orange);
        }

        .canvas-node.edit-mode
        {
            .canvas-node-container
            {
                border-color: var(--color-orange);
            }

            node-content
            {
                node-header
                {
                    border-bottom-color: var(--color-orange);
                }
            }
        }
    }

    .svelte-flow__node-textInput
    {
        .canvas-node.edit-mode
        {
            node-header-left 
            {
                color: var(--color-orange);
            }
        }
    }

    /* FILE INPUT */

    .svelte-flow__node-fileInput
    {
        .canvas-node-container
        {
            border-color: var(--color-purple);
        }

        .svelte-flow__handle 
        {        
            border-color: var(--color-purple);
        }

        node-content
        {
            node-header
            {
                border-bottom-color: var(--color-purple);

                node-header-left 
                {
                    color: var(--color-purple);
                }
            }
        }
    }

    .svelte-flow__node-generate 
    {        
        node-header-left
        {
            color: var(--text-accent);
        }
    }

    /* SELECTED */

    .svelte-flow__node.selected .svelte-flow__handle
    {
        border-color: var(--color-accent);
    }

    .svelte-flow__node-textInput.selected
    {
        .canvas-node-container
        {
            border-color: var(--color-accent);
        }
    }

    .svelte-flow__node-fileInput.selected
    {
        .canvas-node-container
        {
            border-color: var(--color-accent);
        }
    }
}