.canvas-llm
{
    .svelte-flow__node-dialogue 
    {
        node-content
        {
            node-body.markdown-rendered
            {
                padding: 0;
                overflow: auto;
            }
        }

        .dialogue-message
        {
            border: 1px solid var(--divider-color);
            background-color: var(--background-primary-alt);
            background: var(--background-primary-alt);
            background: linear-gradient(0deg, var(--background-secondary), var(--background-primary-alt));

            margin: 0.5em;

            .dialogue-message-head
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                position: sticky;
                top: 0;
                z-index: 1;

                border-bottom: 1px solid var(--divider-color);
                background-color: var(--background-secondary-alt);
                padding: 0.25em 0.5em;

                .dialogue-message-num { filter: brightness(0.65); }

                .dialogue-message-role
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.4em;
                }

                .dialogue-message-buttons
                {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .dialogue-message-variants
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                    .mod-cta
                    {
                        padding: var(--size-2-3);
                        height: 1.75em;
                    }
                }
            }
            
            .dialogue-message-body
            {
                padding: 0.6em 0.75em;
                user-select: text;

                pre
                {
                    color: var(--code-normal);
                    border: 1px solid var(--divider-color);
                    border-radius: var(--radius-s);
                    background-color: var(--background-primary);
                    padding: 0.4em 0.5em;

                    code
                    {
                        white-space: pre-wrap;
                        overflow-wrap: break-word;
                    }
                }

                .private
                {
                    color: var(--color-base-60);
                    padding-bottom: 0.65em;
                    margin-bottom: 0.65em;
                }

                .system
                {
                    color: var(--color-red);
                    padding-bottom: 0.65em;
                    margin-bottom: 0.65em;
                    /* border-radius: var(--radius-m); 
                    background-color: var(--background-primary);
                    padding: 0.5em 0.7em;
                    margin: 0 -0.2em 0.4em; */
                }
            }
        }

        .dialogue-message:nth-child(odd)
        {
            .dialogue-message-head      { border-bottom: 1px solid var(--color-orange); }
            .dialogue-message-role-name { color: var(--color-orange); }

            .dialogue-message-body .private, 
            .dialogue-message-body .system 
            { border-bottom: 1px dashed var(--color-orange); }
        }

        .dialogue-message:nth-child(even)    
        {
            .dialogue-message-head      { border-bottom: 1px solid var(--color-cyan); }
            .dialogue-message-role-name { color: var(--color-cyan); }
            
            .dialogue-message-body .private, 
            .dialogue-message-body .system 
            { border-bottom: 1px dashed var(--color-cyan); }
        }

        .dialogue-message:nth-child(odd).edit
        {
            outline: 1px dashed var(--color-orange);
            outline-offset: 2px;
        }

        .dialogue-message:nth-child(even).edit
        {
            outline: 1px dashed var(--color-cyan);
            outline-offset: 2px;
        }

        .dialogue-message-next
        {
            display: flex;
            flex-direction: row;
            justify-content: center; 
            margin: 0.5em 0.5em 1em 0.5em;

            button
            {
                display: flex;
                flex-direction: row;
                justify-content: center; 
                align-items: center;
                gap: 0.5em;
            }
        }

        .dialogue-message.edit
        {
            textarea
            {
                width: 100%;
                resize: none;
                overflow: hidden;
                box-sizing: border-box;
                padding: 0;
                margin: 0;

                box-shadow: none;
                border: none;
                outline: none;
                font-size: inherit;
                text-align: left;
                background: transparent;
            }
        }
    }
}

.canvas-llm-dialogue-params
{
    .modal
    {
        width:      var(--modal-width);
        height:     var(--modal-height);

        max-width:  25em;
        max-height: 25em;

        padding: 0;

        .role-list
        {
            display: flex;
            flex-direction: column;

            hr 
            {
                margin: 0;
                height: 0;
                border: none;
                border-top: var(--modal-border-width) dashed var(--modal-border-color);
            }

            .role-item
            {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                gap: 0.2em;
                padding: 1.5em;

                .role-label
                {   
                    font-size: 1.3em;
                }

                .role-memory,
                .role-model,
                .role-auto,
                .role-model-label
                {
                    display: flex;
                    align-items: center;
                }

                .role-memory,
                .role-model,
                .role-auto
                {
                    padding-left: 0.1em;
                }
            }

            .role-item1 .role-label { color: var(--color-orange); }
            .role-item2 .role-label { color: var(--color-cyan); }
        }
    }
}