.canvas-llm
{
    .svelte-flow__node-fileInput 
    {
        .drag-over 
        {
            outline: 2px dashed var(--color-accent);
            border-radius: 0.5em;
        }

        node-content
        {
            node-header-left
            {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            node-body
            {
                error
                {
                    position: fixed;
                    top: 2.05em;
                    left: 1px;
                    right: 1px;
                }

                card
                {
                    display: block;
                    background-color: var(--nav-item-background-active);
                    border-radius: 0.5em;
                    margin-bottom: 0.5em;
                    padding: 0.5em;
                }
            }
        }
    }
}