.canvas-llm
{
    .svelte-flow__node
    {
        .canvas-node
        {
            width: 100%;
            height: 100%;
        }

        .canvas-node-container
        {
            border-radius: 0.5em;
            border-width: 1px;
        }

        node-content
        {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 2em auto;

            node-header
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                border-bottom-width: 1px;
                border-bottom-style: solid;
                background: var(--background-secondary);

                node-header-left,
                node-header-right
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.1em 0.25em 0.1em 0.5em; 
                    height: 100%;
                    gap: 0.25em;
                }

                node-header-left
                {
                    font: var(--font-interface-theme);
                    color: var(--text-accent)
                }
                
                node-header-right 
                { 
                    text-align: right; 
                    padding-right: 0.4em; 

                    button 
                    {
                        height: 1.75em;
                    }
                    
                    .clickable-icon
                    {
                        padding: var(--size-2-2) var(--size-2-2);
                        margin-left: -0.1em;
                        margin-right: -0.1em;
                    }
                }
            }

            node-body
            {
                display: block;
                position: relative;

                font: var(--font-text-theme)
            }
            
            .node-text
            {
                cursor: text !important;
                user-select: text !important;
            }
        }
    }

    .svelte-flow__node-textInput
    {
        node-body
        {
            padding: 0;

            textarea
            {
                background: transparent;
                padding: 0.4em 0.6em;
                box-shadow: none;
                border: none;
                width: 100%;
                height: 100%;
                resize: none;
                outline: none;
                font-size: initial;
            }   
        }
    }

    .svelte-flow__node-generate 
    {        
        node-content
        {
            node-header 
            {
                /* background: linear-gradient(90deg, #222f39 0%, rgba(0,0,0,1) 100%); */
            }
            
            node-body 
            {
                padding: 0.4em 0.6em;
                overflow: auto;

                ol
                {
                    list-style: decimal !important;
                    list-style-type: decimal !important;
                }
            }
        }
    }
}