.canvas-llm.view-content
{
    padding: 0;
}

.canvas-llm
{
    .modal-close-button
    {
        z-index: 1;
    }
}

.svelte-llm-model-select-container,
.canvas-llm-settings
{
    .modal-header
    {
        display: none;
    }
}

.canvas-llm-settings
{
    .modal
    {
        /* width:      var(--modal-width); */
        /* height:     var(--modal-height); */

        /* max-width:  30em; */
        /* max-height: 29em; */
    }
}

